<div class="welcome" >
</div>

  <form [formGroup]="form_" [@fading1]="fading ? 'fadeIn' : 'fadeOut'">
    <div fxFlex="25%" fxFlex.lt-md="10%"></div>

    <div  class="backGr" fxFlex="50%"  fxFlex.lt-md="80%" fxLayout="column" fxLayoutAlign="center stretch">

      <mat-form-field fxFlex>

        <input matInput  type="email" formControlName="username" placeholder="Please enter your username">

        <mat-icon matSuffix>mode_edit</mat-icon>


        <mat-error
          *ngIf="form_.controls['username'].hasError('email') && !form_.controls['username'].hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="form_.controls['username'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>

      </mat-form-field>
      <br>

      <mat-form-field fxFlex>

        <input matInput type="password" formControlName="password" placeholder="Please enter your password">

        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <br>

      <div fxFlex>
        <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="!form_.valid">Login</button>
        <button mat-raised-button (click)="resetForm()">Cancel</button>
      </div>
    </div>

  </form>

  <br>
  <br>

  <div fxLayout="row">
    <div fxFlex="25%"></div>


    <div class="warning" fxFlex="50%" fxLayout="row" fxLayout.lt-md ="column" fxFlexAlign="space-between center">
      

      <div fxFlex="50"> 
        <button mat-button (click)="tryAgain()" *ngIf="resetPassword" > Please try again?
      </button>
    </div>
      <br>

     


      <div fxFlex >
        <button mat-button color="warn" (click)="resetPasswordFunction()" *ngIf="resetPassword" > Password reset ? 
      </button>
    </div>

    </div>

  </div>

