<mat-toolbar  color="primary" class="navbar" >
    <mat-toolbar-row fxFlexLayout="row" fxFlexAlign="start center">
  
      <div fxFlex="80">
  
        <button  *ngIf="isAdmin" mat-button [matMenuTriggerFor]="belowMenu">Menu</button>
  
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item routerLink='/grid' routerLinkActive="active">Shopping</button>
          <button mat-menu-item routerLink='' routerLinkActive="active"> Create Sections</button>
          <button mat-menu-item routerLink='' routerLinkActive="active">Create Menu</button>
          <button mat-menu-item routerLink='' routerLinkActive="active">Menu Builder</button>
  
        </mat-menu>
  
  
  
  
  
        <button *ngIf="isAdmin" mat-button [matMenuTriggerFor]="beforeMenu">Preview</button>
  
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item routerLink='/previewMenu' routerLinkActive="active">Preview menu</button>
          <button mat-menu-item>2</button>
        </mat-menu>



       
      
  
      </div>

      <div fxFlex>
        <button *ngIf="isAdmin" mat-button [matMenuTriggerFor]="loggmenu" >Logged As: {{'pera'}}</button>
        <mat-menu #loggmenu="matMenu" yPosition="below">
          <button mat-menu-item routerLink='/previewMenu' routerLinkActive="active">Role</button>
          <button mat-menu-item>SignOut</button>
        </mat-menu>

      </div>
  
  
    </mat-toolbar-row>
  </mat-toolbar>
  <div>
  </div>
  
    <form [formGroup]="form_"  *ngIf="!isAdmin">
        <div fxFlex="10%"></div>

        <div fxFlex="80%"  fxLayout="column" fxLayoutAlign="center stretch">

        <mat-form-field fxFlex>

            <input matInput formControlName="name_" autocomplete="username" [readonly]="readonly_"
                placeholder="Please enter your name">

            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <br>

        <mat-form-field fxFlex>

            <input matInput type="tel" formControlName="phone_" placeholder="Please enter your phone number">

            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <br>

        <mat-form-field fxFlex>

            <input matInput type="email" formControlName="email_" placeholder="Please enter email"
                [readonly]="readonly_">

            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>



        <div fxFlex>
            <button mat-raised-button color="primary" (click)="submitForm()" [disabled]="!form_.valid">Submit</button>

            <button mat-raised-button (click)="resetForm()">Cancel</button>

        </div>



    </div>

    </form>

     <!-- <div>{{this.token_}}</div>    -->
    <div *ngIf="alreadySignedIn" fxLayout="column" fxLayoutAlign="center stretch"> You provided your data, for healt check. Thank you.
    </div>

    <!-- <div>USER: {{username}}</div> -->

    <div *ngIf="!isAdmin">

        <div fxFlex="10%"></div>

        <div fxFlex="20%"  fxLayout="column" fxLayoutAlign="center stretch">
        <a style="text-transform:none" (click)="signInWithGoogle()">



            <img width="50px" style="margin-top:100px; margin-right:10px" alt="Google sign-in"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />

        </a>

       
        </div>

       

    </div>
